/**
 * @file
 * Styles for Bartik's buttons.
 */

.button {
  display: inline-block;
    padding: .8em 2em;
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: transparent;
    
    border-radius: 0px 18px 0px 18px;
    background-color: #06c;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.button:hover,
.button:active,
.button:focus {
  text-decoration: none;
  color: #fff;
  background-color: #02509c imp !important;
}
.button.is-disabled:hover,
.button.is-disabled:active,
.button.is-disabled:focus,
.button.is-disabled {
  cursor: default;
  color: #717171;
  border-color: #bbb;
  background: #ededed;
}
