
{#<!-- title -->#}
{#<title>Konica Minolta</title>#}
{#<meta charset="utf-8">#}
{#<meta http-equiv="X-UA-Compatible" content="IE=edge" />#}
{#<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />#}
{#<meta name="author" content="">#}
{#<!-- description -->#}
{#<meta name="description" content="">#}
{#<!-- keywords -->#}
{#<meta name="keywords" content="">#}
{#<!-- favicon -->#}
{#<link rel="shortcut icon" type="image/x-icon" href="themes/Assessment/images/favicon.ico">#}
{#<link rel="icon" type="image/x-icon" href="themes/Assessment/images/favicon.ico">#}

{#<!-- animation -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/animate.css" />#}
{#<!-- bootstrap -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/bootstrap.min.css" />#}
{#<!-- et line icon -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/et-line-icons.css" />#}
{#<!-- font-awesome icon -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/font-awesome.min.css" />#}
{#<!-- themify icon -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/themify-icons.css">#}
{#<!-- swiper carousel -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/swiper.min.css">#}
{#<!-- justified gallery  -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/justified-gallery.min.css">#}
{#<!-- magnific popup -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/magnific-popup.css" />#}

{#<!-- bootsnav -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/bootsnav.css">#}
{#<!-- style -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/style.css" />#}
{#<!-- style card flip -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/style_card-flip.css" />#}
{#<!-- responsive css -->#}
{#<link rel="stylesheet" href="themes\Assessment\css/base/responsive.css" />#}
{#<!--[if IE]>#}
    <script src="themes/Assessment/js/classy/html5shiv.js"></script>
<![endif]-->
</head>
<body>
<!-- start header -->
<header>
  <div class="left-nav">

    <!-- start logo -->

<div class="sidebar-part1 md-padding-10px-top md-padding-70px-left sm-padding-10px-top sm-padding-80px-left">
      <a href="#" title="Konica Minolta" class="col-lg-4 logo padding-10px-left"><img img-src="themes/Assessment/images/logo.svg" alt="logo" data-visible="visible" data-loaded="loaded" src="themes/Assessment/images/logo.svg"></a>
      <div class="right-top-menu col-lg-8" style="padding: 1.5% 0% 1.5% 3%;">
          <a href="#benefits-section" title="Benefits" class="alt-font col-lg-3 font-weight-700 logo padding-10px-left text-blue js-anchor-link" style="text-align: end;">Benefits</a>
          <a href="#rethink-work" title="Rethink Work" class="alt-font col-lg-3 font-weight-700 logo padding-10px-left text-blue js-anchor-link" style="text-align: center;">Rethink Work</a>
          <a href="#trusted-advisor" title="Your Trusted Advisor" class="alt-font col-lg-3 font-weight-700 logo padding-10px-left text-blue js-anchor-link">Your Trusted Advisor</a>
          <a href="#" title="Talk With an Expert" class="alt-font col-lg-3 font-weight-700 logo padding-10px-left text-blue js-anchor-link">Talk With an Expert</a>
      </div>
</div>


    <!-- end logo -->

    <div class="sidebar-part2">
      <div class="sidebar-middle">
        <div class="sidebar-middle-menu alt-font font-weight-600">
          <nav class="navbar bootsnav navbar-expand-lg alt-font">
            <div id="navbar-menu" class="collapse navbar-collapse no-padding">
              <ul class="nav navbar-nav">
                <span class="text-black text-medium font-weight-500 margin-20px-bottom d-inline-block"> DX 360&#176 Assessment </span>
                <li class="dropdown text-uppercase bg-white padding-10px-tb padding-18px-lr margin-2px-tb">
                  <a href="#" title="Home" data-toggle="dropdown">DX 360&#176 Landing Page <!-- <i class="fas fa-angle-right pull-right"></i> --> </a>
                  <!--<ul class="dropdown-menu second-level">
                      <li><img src="themes/Assessment/images/it-services.png" class="w-100 height-150px"> <h5 class="text-uppercase text-large text-white its">IT SERVICES</h5> </li>
                  </ul> -->
                </li>
                <li class="dropdown text-uppercase btn-yellow padding-8px-tb padding-18px-lr margin-2px-tb">
                  <a data-toggle="dropdown" href="#" title="" class="text-white">PRODUCTIVITY &#38; COLLABORATION </a>
                </li>
                <li class="dropdown text-uppercase bg-white padding-8px-tb padding-18px-lr margin-2px-tb">
                  <a data-toggle="dropdown" href="#" title=""> <spam class="text-cyan"> SECURITY &#38; <br>COMPLIANCE</spam> </a>
                </li>
                <li class="dropdown text-uppercase bg-white padding-8px-tb padding-18px-lr margin-2px-tb">
                  <a data-toggle="dropdown" href="#" title=""> <spam  class="text-piink"> MOBILITY </spam> </a>
                </li>
                <li class="dropdown text-uppercase bg-white padding-8px-tb padding-18px-lr margin-2px-tb">
                  <a data-toggle="dropdown" href="#" title="ontact"> <spam  class="text-violet"> FLEXIBILITY EFFICIENCY &#38; SUSTAINABILITY</spam> </a>
                </li>
                <li class="dropdown text-uppercase bg-white padding-8px-tb padding-18px-lr margin-2px-top margin-20px-bottom">
                  <a data-toggle="dropdown" href="#" title=""> <spam class="text-blue"> ANALYTICS &#38; INTELLIGENCE </spam> </a>
                </li>

                <li class="dropdown text-uppercase bg-blue padding-8px-tb padding-18px-lr">
                  <a class="text-white" data-toggle="dropdown" href="#" title="">About Konica Minolta</a>
                </li>

                <!-- <li>
                    <div class="side-left-menu-close close-side"></div>
                </li> -->
              </ul>
            </div>
          </nav>
          <div class="icon-social-medium sm-display-none padding-35px-tb padding-30px-left">
            <div class="text-blue text-uppercase text-small font-weight-700 float-left padding-5px-top padding-5px-right"> Follow us:</div>
            <a class="facebook text-blue text-small" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            <a class="linkedin text-blue text-small" href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="twitter text-blue text-small" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="youtube text-blue text-small" href="https://youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
            <a class="instagram text-blue text-small" href="https://instagram.com/" target="_blank"><i class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar-part3">
      <div class="bottom-menu-icon">
        <a href="javascript:void(0);" class="right-menu-button text-extra-dark-gray nav-icon" id="showRightPush">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    </div>
  </div>

</header>
<!-- end header -->

<!-- start blog slider section -->

<section class="wow fadeIn main-slider mobile-height top-space overflow-visible no-padding">
  <div class="swiper-container w-100">
    <div class="swiper-wrapper">
      <!-- start slider item -->
      <div class="swiper-slide cover-background" style="background-image:url('themes/Assessment/images/homepage-slider.jpg');">
        <div class="container position-relative fit-on-screen sm-height-400px">
          <div class="slider-typography">
            <div class="slider-text-middle-main">
              <div class="slider-text-middle">
                <div class="col-12 col-lg-6 col-md-8 slide-content">
                  <div class="padding-40px-all sm-padding-30px-all bgd-white-opacity">
                    <h6 class="margin-20px-bottom"><span class="font-weight-700 text-blue alt-font">WHAT DOES DIGITAL TRANSFORMATION <br> LOOK LIKE FOR YOUR BUSINESS? </span></h6>
                    <span class="text-pink text-large text-uppercase font-weight-700 margin-20px-bottom d-inline-block">TAKE OUR SHORT <br> DX360&#176 <strong> DIGITAL MATURITY ASSESSMENT </strong><br> TO FIND OUT </span>
                    <a class="btn btn-large btn-blue btn-rounded newcta js-anchor-link" href="#pie-chart">START THE ASSESSMENT <i class="ti-angle-right font-weight-600"></i> </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end slider item -->
      <!-- start slider item -->
      <!-- <div class="swiper-slide cover-background" style="background-image:url('themes/Assessment/images/blog-slider-img6.jpg')">
          <div class="opacity-extra-medium bg-extra-dark-gray"></div>
          <div class="container position-relative one-fourth-screen sm-height-400px">
              <div class="slider-typography text-center">
                  <div class="slider-text-middle-main">
                      <div class="slider-text-middle">
                          <div class="col-12 col-lg-6 col-md-8 mx-auto slide-content">
                              <div class="padding-50px-all sm-padding-30px-all bg-black-opacity">
                                  <a href="blog-grid.html" class="text-medium-gray text-extra-small text-uppercase alt-font font-weight-600 margin-10px-bottom d-inline-block">Branding and Identity</a>
                                  <h4><a href="blog-post-layout-02.html" class="font-weight-600 text-white-2 alt-font">Young pretty girl posing in the street</a></h4>
                                  <a class="btn btn-very-small btn-transparent-white" href="blog-post-layout-02.html">Continue Reading</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>-->
      <!-- end slider item -->
      <!-- start slider item -->
      <!--<div class="swiper-slide cover-background" style="background-image:url('themes/Assessment/images/blog-slider-img7.jpg')">
          <div class="opacity-extra-medium bg-extra-dark-gray"></div>
          <div class="container position-relative one-fourth-screen sm-height-400px">
              <div class="slider-typography text-center">
                  <div class="slider-text-middle-main">
                      <div class="slider-text-middle">
                          <div class="col-12 col-lg-6 col-md-8 mx-auto slide-content">
                              <div class="padding-50px-all sm-padding-30px-all bg-black-opacity">
                                  <a href="blog-grid.html" class="text-medium-gray text-extra-small text-uppercase alt-font font-weight-600 margin-10px-bottom d-inline-block">Branding and Identity</a>
                                  <h4><a href="blog-post-layout-03.html" class="font-weight-600 text-white-2 alt-font">Do one thing every day that scares you</a></h4>
                                  <a class="btn btn-very-small btn-transparent-white" href="blog-post-layout-03.html">Continue Reading</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div> -->
      <!-- end slider item -->
    </div>
  </div>
  </div>
  <div id="pie-chart" class="anchor"></div>
</section>
<!-- end slider section -->

<!-- Start Pie Chart Section -->

 

        <section class="wow fadeIn no-padding margin-30px-tb sm-margin-70px-top" style="visibility: visible; animation-name: fadeIn;">
            <div class="container"> 
                <div class="row align-items-center">
 
                    <div class="col-12 col-lg-6 wow fadeInRight last-paragraph-no-margin text-lg-left sm-padding-15px-lr text-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">

 

                        <div class='mydiv' id='other' style="display: block;">
                            <div class="text-left padding-five-all sm-padding-two-all width-100 text-lg-left text-center">
                                <h6 class="margin-20px-bottom"><span class="font-weight-700 text-blue text-uppercase">KONICA MINOLTA'S DX360&#176
                                DIGITAL MATURITY ASSESSMENT </span></h6>
                                <div class="text-mdm font-weight-400 text-black padding-10px-bottom"> With our free online DX360&#176 Digital Maturity Assessment, find out if you have the tools and procedures in place to enhance your digital transformation strategy and grow your business whilst boosting its resilience in a digital-first economy.</div>
 
                                <div class="text-mdm font-weight-400 text-black padding-10px-bottom">This assessment has 25 questions, split by 5 categories and it should take less than 10 minutes. Once completed, you will instantly receive a customised report to your email with recommendations on how to improve your digital maturity model score.</div>

 

                                <div class="text-mdm font-weight-400 text-black padding-10px-bottom">Every corner of our world is digitised, it's becoming easier for organisations to connect with customers, partners, and employees. Technology has gone from a supporting role to centre stage:  drastically affecting areas like productivity, collaboration, connection, and customer engagement. As it becomes more powerful and prevalent, however, the path forward is becoming more complex.</div>
                              </div>
                        </div>

 

                        <div class='mydiv' id='mobility'> 
                        <div class="text-left padding-five-all sm-padding-two-all width-100 text-lg-left text-center">
                                <h6 class="margin-20px-bottom"><span class="font-weight-700 text-piink text-uppercase">Mobility</span></h6>
                                <div class="text-mdm font-weight-400 text-black padding-10px-bottom"> With an increasingly distributed workforce, remote and hybrid working are here to stay. Businesses must consider how to support mobile working environments for the long-term. This means ensuring agile teams can flexibly scale up on a project-to-project basis and access work apps and data from anywhere.

	<br><br>Understand how to gain a competitive edge by being more responsive, accessible, and be able to work whenever, and wherever.
</div>

 

                                <a class="btn btn-large btn-Piink btn-rounded margin-10px-top" href="/drupal-8.9.16/general-question-mobility">START NOW <i class="ti-angle-right font-weight-600"></i> </a>

 

                            </div>
                        </div>

 

                        <div class='mydiv' id='flexibility'>
                        <div class="text-left padding-five-all sm-padding-two-all width-100 text-lg-left text-center">
                                <h6 class="margin-20px-bottom"><span class="font-weight-700 text-violet text-uppercase">FLEXIBILITY, EFFICIENCY
                                &amp; SUSTAINABILITY</span></h6>
                                <div class="text-mdm font-weight-400 text-black padding-10px-bottom"> Increasing customer demands, rapid changes of market conditions and cost as well as resource reduction requests, drive all of us to find new ways to scale operations to different needs and meet changing demands with agility and efficiency while reducing an organisations´physical footprint and wastage.
<br><br>Understand the flexibility and efficiency of your solutions and your drive towards a sustainable business.
 </div> 

 

                                <a class="btn btn-large btn-violet btn-rounded margin-10px-top" href="/drupal-8.9.16/general-question-flexibility">START NOW <i class="ti-angle-right font-weight-600"></i> </a>

 

                            </div>
                        </div>
                        <div class='mydiv' id='security'>
                        <div class="text-left padding-five-all sm-padding-two-all width-100 text-lg-left text-center">
                                <h6 class="margin-20px-bottom"><span class="font-weight-700 text-cyan text-uppercase">Security &amp; Compliance
                                </span></h6>
                                <div class="text-mdm font-weight-400 text-black padding-10px-bottom"> Your cybersecurity posture has never been more important.  While business demands have driven IT leaders to focus on collaboration and digital transformation, it’s important to remember that none of those innovations matter if you can’t keep your business information secure.
                                         when it comes to information security, organizations require knowledge, skills, tools, and experience across multiple platforms and disciplines to stay safe. 
<br><br>Understand how information management and the workforce should work in harmony to ensure data security and compliance. </div>

 

                                <a class="btn btn-large btn-cyan btn-rounded margin-10px-top" href="/drupal-8.9.16/general-question-security">START NOW <i class="ti-angle-right font-weight-600"></i> </a>

 

                            </div>
                        </div>
                        <div class='mydiv' id='productivity'>
                        <div class="text-left padding-five-all sm-padding-two-all width-100 text-lg-left text-center">
                                <h6 class="margin-20px-bottom"><span class="font-weight-700 text-yellow text-uppercase">Productivity &amp; Colaboration
                                </span></h6>
                                <div class="text-mdm font-weight-400 text-black padding-10px-bottom"> The way we work has changed dramatically in the past few years. Our environment changes just like our behavior. With new challenges, we have to think about how we want to collaborate in the future. How do we work across national borders? How do we manage to work together in the future despite pandemics or natural disasters? The Productivity & Collaboration section is dedicated to this question so that we can find new ways together to achieve more.
<br><br>Understand how your people and teams use technology to interact, communicate, and collaborate with each other and with your customers. </div>

 

                                <a class="btn btn-large btn-yellow btn-rounded margin-10px-top" href="/drupal-8.9.16/general-question">START NOW <i class="ti-angle-right font-weight-600"></i> </a>

 

                            </div>
                        </div>
                        <div class='mydiv' id='analytics'>
                        <div class="text-left padding-five-all sm-padding-two-all width-100 text-lg-left text-center">
                                <h6 class="margin-20px-bottom"><span class="font-weight-700 text-blue text-uppercase">Analytics &amp; Intelligence
                                </span></h6>
                                <div class="text-mdm font-weight-400 text-black padding-10px-bottom"> The true measure of being data-driven is how well you understand insights, and take appropriate action when needed.  A good technology data-driven strategy for your business is not just about buying the right tools, it’s about making sure your systems are accessible whenever and wherever your team needs them to get the job done… and when your customers need you. Real digital maturity is all about being analytical, resilient and intelligent in your business decisions and enablement.
<br><br>Understand how to visualise trends and insights about your business and make predictions to enable growth.</div>

 

                                <a class="btn btn-large btn-blue btn-rounded margin-10px-top" href="/drupal-8.9.16/general-question-analytics">START NOW <i class="ti-angle-right font-weight-600"></i> </a>

 

                            </div>
                        </div>
                    </div>

 

                    <div class="col-12 col-lg-6 text-center wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                        <div class="bg-white float-right width-70px height-80px position-relative z-index-2" style="top: 440px;"> </div>
                        <div id="chartContainer" style="height: 500px; width: 100%;"></div>
                    </div>

 

                </div>
            </div>
            <div id="benefits-section"></div>
        </section>
        <!-- End Pie Chart Section -->
<!-- start benefits section -->
<section class="wow fadeIn bg-light-gray">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 col-md-11 text-center wow fadeInUp margin-four-bottom">
        <h6 class="margin-20px-bottom"><span class="font-weight-700 text-blue alt-font">THE BENEFITS OF BEING DIGITALLY MATURE </span></h6>
      </div>
    </div>
    <div class="row">
      <!-- start features box item -->
      <div class="col-12 col-md-4 sm-margin-30px-bottom wow fadeInUp">
        <div class="bg-white text-center box-shadow">
          <!-- start rotate box item -->
          <div class="card-container">
            <div class="card">
              <div class="front">
                <div class="card-front-back">
                <img src="themes/Assessment/images/efficiency_img_f.jpg" alt="">
                <div class="descrip">
                  <span class="font-weight-700 text-blue alt-font">Efficiency</span>
                  <span class="text-sm font-weight-400 text-black"><p>40% improvement in operational efficiency</p></span>
                </div>
              </div>
              </div>
              <div class="back"> 
                <div class="card-front-back">
                  <div class="descrip">
                    <span class="font-weight-700 text-blue alt-font">Efficiency</span>
                    <span class="text-sm font-weight-400 text-black"><p>Digital maturity supports companies desgin fast and streamlined processes, increasing their efficiency while decreasing their errors</p></span>
                  </div>
                <img src="themes/Assessment/images/efficiency_img_b.jpg" alt="">
              </div>
              </div>
            </div>
          </div>
          <!-- end rotate box item -->
        </div>
      </div>
      <!-- end feature box item -->
      <!-- start features box item -->
      <div class="col-12 col-md-4 sm-margin-30px-bottom wow fadeInUp">
        <div class="bg-white text-center box-shadow">
          <!-- start rotate box item -->
          <div class="card-container">
            <div class="card">
              <div class="front">
                <div class="card-front-back">
                <img src="themes/Assessment/images/user-experience_img_f.jpg" alt="">
                <div class="descrip">
                <span class="font-weight-700 text-blue alt-font">User Experience</span>
                <span class="text-sm font-weight-400 text-black"><p>35% increase in customer experience</p></span>
              </div>
              </div>
              </div>
              <div class="back">
                <div class="card-front-back">
                <div class="descrip">
                <span class="font-weight-700 text-blue alt-font">User Experience</span>
                <span class="text-sm font-weight-400 text-black"><p>Digital maturity enhances a user friendly, seamless experience through the whole customer journey.<br><br></p></span>
              </div>
                <img src="themes/Assessment/images/user-experience_img_b.jpg" alt="">
              </div>
              </div>
            </div>
          </div>
          <!-- end rotate box item -->
        </div>
      </div>
      <!-- end feature box item -->
      <!-- start features box item -->
      <div class="col-12 col-md-4 sm-margin-30px-bottom wow fadeInUp">
        <div class="bg-white text-center box-shadow">
          <!-- start rotate box item -->
          <div class="card-container">
            <div class="card">
              <div class="front">
                <div class="card-front-back">
                <img src="themes/Assessment/images/stay-ahead_img_f.jpg" alt="">
                <div class="descrip">
                <span class="font-weight-700 text-blue alt-font">Stay Ahead</span>
                <span class="text-sm font-weight-400 text-black"><p>36% faster time to market</p></span>
              </div>
              </div>
              </div>
              <div class="back">  
                <div class="card-front-back">
                 <div class="descrip">
                <span class="font-weight-700 text-blue alt-font">Stay Ahead</span>
                <span class="text-sm font-weight-400 text-black"><p>Digital maturity enables companies to launch innovations in a much shorter time, thereby, generating new revenue.</p></span>
              </div>
                <img src="themes/Assessment/images/stay-ahead_img_b.jpg" alt="">
              </div>
              </div>
            </div>
          </div>
          <!-- end rotate box item -->
        </div>
      </div>
      <!-- end feature box item -->
    </div>
  </div>
  <div id="rethink-work"></div>
</section>
<!-- end benefits section -->

<!-- start slider section -->
<section class="p-0 main-slider mobile-height wow fadeIn">
  <div class="swiper-full-screen swiper-container h-100 w-100 white-move">
    <div class="swiper-wrapper">
      <!-- start slider item -->
      <div class="swiper-slide">
        <div class="row m-0 justify-content-center">
          <div class="col-12 col-md-6 cover-background height-400px sm-height-300px margin-50px-tb sm-no-margin" style="background-image:url('themes/Assessment/images/slider_01.jpg');"></div>
          <div class="col-12 col-md-5 d-flex align-items-center height-400px sm-height-250px">
            <div class="text-left padding-five-all sm-padding-two-all width-100 text-lg-left text-center">
              <h6 class="margin-20px-bottom"><span class="font-weight-700 text-blue alt-font">RETHINKING THE WORLD OF WORK </span></h6>
              <span class="text-sm font-weight-400 text-black">With technological, social, environmental and generational shifts, ‘work’ can no longer be defined as a physical space one goes from 9 to 5. Instead, work is anywhere, anytime.</span>
            </div>
          </div>

        </div>
      </div>
      <!-- end slider item -->
      <!-- start slider item -->
      <div class="swiper-slide">
        <div class="row m-0 justify-content-center">
          <div class="col-12 col-md-6 cover-background height-400px sm-height-300px margin-50px-tb sm-no-margin" style="background-image:url('themes/Assessment/images/slider_02.jpg');"></div>
          <div class="col-12 col-md-5 d-flex align-items-center height-400px sm-height-250px">
            <div class="text-left padding-five-all sm-padding-two-all width-100 text-lg-left text-center">
              <h6 class="margin-20px-bottom"><span class="font-weight-700 text-blue alt-font">Manage changes in business </span></h6>
              <span class="text-sm font-weight-400 text-black">With working models of remote and hybrid working here to stay, businesses must consider how to support mobile working environments. This means ensuring agile teams can flexibly scale up on a project-to-project basis, utilising data to optimise decision making.</span>
            </div>
          </div>

        </div>
      </div>
      <!-- end slider item -->
      <!-- start slider item -->
      <div class="swiper-slide">
        <div class="row m-0 justify-content-center">
          <div class="col-12 col-md-6 cover-background height-400px sm-height-300px margin-50px-tb sm-no-margin" style="background-image:url('themes/Assessment/images/slider_03.jpg');"></div>
          <div class="col-12 col-md-5 d-flex align-items-center height-400px sm-height-250px">
            <div class="text-left padding-five-all sm-padding-two-all width-100 text-lg-left text-center">
              <h6 class="margin-20px-bottom"><span class="font-weight-700 text-blue alt-font">EMBRACING DIGITAL</span></h6>
              <span class="text-sm font-weight-400 text-black">This changing world of work, however, brings with it risks and opportunities that need to be navigated.  Businesses like yours now need to look more closely at your digital maturity level, to ensure you can confidently and securely prepare for, and optimise, your ideal workplace of tomorrow.</span>
            </div>
          </div>

        </div>
      </div>
      <!-- end slider item -->
    </div>
    <!-- start slider pagination -->
    <div class="swiper-pagination swiper-pagination-square swiper-pagination-white swiper-full-screen-pagination d-none"></div>
    <div class="half-circle_r half-circle_sr swiper-button-next swiper-next-style1"> </div>
    <div class="half-circle_l half-circle_sl swiper-button-prev swiper-next-style1 "> </div>
    <!-- end slider pagination -->
    <!-- end slider pagination -->
  </div>
</section>
<!-- end slider section -->


<!-- start digital transformation section -->
<section class="wow fadeIn bg-light-blue">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 col-md-11 text-center sm-margin-30px-bottom">
        <h6 class="margin-20px-bottom"><span class="font-weight-700 text-blue"> DIGITAL BUSINESS TRANSFORMATION IS KEY TO FUTURE SUCCESS </span></h6>
      </div>
    </div>
    <div class="row">
      <!-- feature box item-->
      <div class="col-12 col-md-6 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp">
        <div class="feature-box">
          <div class="content sm-content">

            <div class="chart-style2 wow fadeInUp text-center md-margin-30px-bottom sm-margin-15px-bottom">
              <div class="chart-percent"><span class="chart2 text-blue" data-percent="45">
                                        <span class="percent font-weight-600 text-extra-large"></span></span></div>
            </div>

            <p class="width-85 mx-auto md-width-100 text-black"> of executives don’t think their company has the right technology to implement a digital transformation<sup>1</sup></p>
            <div class="text-large font-weight-700 text-capitalize text-blue margin-10px-bottom md-margin-5px-bottom">Choose the right technology </div>

          </div>
        </div>
      </div>
      <!-- end feature box item-->
      <!-- feature box item-->
      <div class="col-12 col-md-6 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.2s">
        <div class="feature-box">
          <div class="content sm-content">

            <div class="chart-style2 wow fadeInUp text-center md-margin-30px-bottom sm-margin-15px-bottom">
              <div class="chart-percent"><span class="chart2 text-blue" data-percent="87">
                                        <span class="percent font-weight-600 text-extra-large"></span></span></div>
            </div>

            <p class="width-85 mx-auto md-width-100 text-black">of companies think digital will disrupt their industry, but only 44% are prepared for potential digital disruption<sup>2</sup></p>
            <div class="text-large font-weight-700 text-capitalize text-blue margin-10px-bottom md-margin-5px-bottom">Be prepared for digital disruptions</div>

          </div>
        </div>
      </div>
      <!-- end feature box item-->
      <!-- feature box item-->
      <div class="col-12 col-md-6 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.4s">
        <div class="feature-box">
          <div class="content sm-content">

            <div class="chart-style2 wow fadeInUp text-center md-margin-30px-bottom sm-margin-15px-bottom">
              <div class="chart-percent"><span class="chart2 text-blue" data-percent="77">
                                        <span class="percent font-weight-600 text-extra-large"></span></span></div>
            </div>

            <p class="width-85 mx-auto md-width-100 text-black"> of companies are dependent on digital products or operations<sup>3</sup></p>
            <div class="text-large font-weight-700 text-capitalize text-blue margin-10px-bottom md-margin-5px-bottom">Digital or done </div>

          </div>
        </div>
      </div>
      <!-- end feature box item-->
      <!-- feature box item-->
      <div class="col-12 col-md-6 sm-margin-five-bottom last-paragraph-no-margin wow fadeInUp" data-wow-delay="0.4s">
        <div class="feature-box">
          <div class="content sm-content">

            <div class="chart-style2 wow fadeInUp text-center md-margin-30px-bottom sm-margin-15px-bottom">
              <div class="chart-percent"><span class="chart2 text-blue" data-percent="70">
                                        <span class="percent font-weight-600 text-extra-large"></span></span></div>
            </div>

            <p class="width-85 mx-auto md-width-100 text-black">Intelligent systems will drive on your customer engagements by 2022<sup>4</sup></p>
            <div class="text-large font-weight-700 text-capitalize text-blue margin-10px-bottom md-margin-5px-bottom">Accelerate Digital Interaction </div>

          </div>
        </div>
      </div>
      <!-- end feature box item-->
    </div>
  </div>
  <div id="trusted-advisor"></div>
</section>
<!-- end digital transformation section -->

<!-- start clients logo section -->
<section>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-12 col-md-10 margin-five-bottom md-margin-40px-bottom sm-margin-30px-bottom text-center last-paragraph-no-margin">
        <h6 class="margin-20px-bottom"><span class="font-weight-700 text-blue">YOUR TRUSTED ADVISOR DIGITAL INNOVATION </span></h6>
        <p>We work hard to innovate and deliver quality products and services that help our customers pursue their digital agendas. Our dedication to providing our customers with exceptional experiences is proven with over 75 awards and certifications, recognising our efforts in digital transformation and digital transformation consulting. This is further enhanced by our collaboration with recognised global partners.</p>
      </div>
    </div>

    <div class="container-fluid">

      <div class="yta">
        <ul class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <li><img src="themes/Assessment/images/top_employer_united_kingdom_2020.png" alt=""/></li>
          <li><img src="themes/Assessment/images/smart-workplace-vision.png" alt=""/></li>
          <li><img src="themes/Assessment/images/iso_20000-1.png" alt=""/></li>
          <li><img src="themes/Assessment/images/iso-27001.png" alt=""/></li>
          <li><img src="themes/Assessment/images/comptia-logo.png" alt=""/></li>
        </ul>
        <ul class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <li><img src="themes/Assessment/images/servicenow-logo.png" alt=""/></li>
          <li><img src="themes/Assessment/images/microsoft_partner.png" alt=""/></li>
          <li><img src="themes/Assessment/images/itil.png" alt=""/></li>
          <li><img src="themes/Assessment/images/prince2.png" alt="PRINCE2"/></li>
          <li><img src="themes/Assessment/images/iso_20000-1-full.png" alt="ISO"/></li>
        </ul>
      </div>

  
    </div>


  </div>
  </div>
</section>
<!-- end clients logo section -->

<!-- start business section -->

<section class="wow fadeIn no-padding-bottom business-section" style="visibility: visible; animation-name: fadeIn;">
  <div class="container">
    <div class="row align-items-center padding-80px-btm">

      <div class="col-12 col-lg-6 wow fadeInRight last-paragraph-no-margin padding-eight-lr text-lg-left sm-padding-15px-lr text-center" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;">
        <h6 class="margin-20px-bottom"><span class="font-weight-700 text-blue alt-font">READY TO SEE<br>
                            HOW YOUR BUSINESS <br> REALLY SHAPES UP? </span></h6>

        <a class="btn btn-large btn-blue btn-rounded newcta margin-30px-bottom js-anchor-link" href="#pie-chart">START THE ASSESSMENT <i class="ti-angle-right font-weight-600"></i>   </a>
        <div class="text-blue margin-50px-top position-absolute top-220">
          <a class="modal-popup wow fadeInUp" href="#modal-popup"><sup>*</sup>Sources </a>

          <!-- start modal pop-up -->
                        <div id="modal-popup" class="border-radius-10 height-200px white-popup-block mfp-hide col-xl-8 col-lg-6 col-md-8 col-11 mx-auto bg-white modal-popup-main padding-50px-top md-padding-30px-all sm-padding-20px-all float-none border-color-pop">

                            <!-- <h6 class="text-blue text-uppercase text-extra-large font-weight-700 margin-20px-bottom d-block">Sources</h6> -->
                            <ul class="padding-30px-lr text-blue">
                            <li class="margin-5px-bottom padding-10px-lr"><a href="https://www.pwc.com/gx/en/advisory-services/digital-iq-survey-2015/campaign-site/digital-iq-survey-2015.pdf" target="_blank"> <sup>1</sup> Global Digital IQ Survey 2015.</a>  </li>

                            <li class="margin-5px-bottom padding-10px-lr"><a href="https://www.siliconrepublic.com/business/deloitte-leadership-digital-disruption-infographic" target="_blank"> <sup>2</sup> Deloitte Leadership Digital Disruption Infographic.</a> </li>

                            <li class="margin-5px-bottom padding-10px-lr"> <a href="https://futurumresearch.com/key-stats-2018-digital-transformation-index/" target="_blank">
                             <sup>3</sup> Key Stats From The 2018 Digital Transformation Index.</a> </li>

                            <li class="margin-5px-bottom padding-10px-lr"> <a href="https://www.gartner.com/smarterwithgartner/top-cx-trends-for-cios-to-watch/" target="_blank"> <sup>4</sup> Top CX Trends for CIOs to Watch.</a> </li>
                        </ul>
                        </div>
                        <!-- end modal pop-up -->
        </div>
      </div>

      <div class="col-12 col-lg-6 text-center wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
        <img src="themes/Assessment/images/parallax-bg11.jpg" alt="" class="w-100" data-no-retina="">
      </div>

    </div>
  </div>
</section>
<!-- end business section -->

<!-- start footer -->
<footer class="footer-standard-dark bg-dark-footer" id="footer">
  <div class="footer-widget-area padding-20px-tb sm-padding-30px-tb padding-30px-btm">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 widget sm-text-center">

          <!-- start social media -->
          <div class="social-icon-style-8 d-inline-block vertical-align-middle">
            <ul class="small-icon no-margin-bottom">
              <li> <a class="facebook text-white-2" href="https://www.facebook.com/" target="_blank"><img src="themes/Assessment/images/fb-rethink.svg" alt="Facebook logo"></a> </li>
              <li><a class="linkedin text-white-2" href="https://linkedin.com/" target="_blank"><img src="themes/Assessment/images/linkedin-rethink.svg" alt="Linkedin logo"></a></li>
              <li><a class="twitter text-white-2" href="https://twitter.com/" target="_blank"><img src="themes/Assessment/images/twitter-rethink.svg" alt="Twitter logo"></a></li>
              <li><a class="youtube text-white-2" href="https://youtube.com/" target="_blank"><img src="themes/Assessment/images/youtube-rethink.svg" alt="Youtube logo"></a></li>
            </ul>
          </div>
          <!-- end social media -->
        </div>

        <!-- start text image -->
        <div class="col-lg-6 col-md-6 widget md-padding-15px-left text-md-right text-center padding-5px-top">
          <img src="themes/Assessment/images/gsti_text.svg" alt="">
        </div>
        <!-- end text image -->
      </div>
    </div>
  </div>
  <div class="border-top border-color-medium-dark-gray margin-60px-lr padding-16px-top">

    <div class="bg-dark-footer padding-20px-bottom text-center sm-padding-30px-tb">
      <div class="container padding-0">
        <div class="row">
          <!-- start copyright -->
          <div class="col-md-6 text-md-left text-small text-center text-medium-gray">
          <a href="https://www.konicaminolta.co.uk/en-gb/terms-of-use" target="_blank" class="text-extra-light-gray footer-links">Term of Use</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="https://www.konicaminolta.co.uk/en-gb/privacy-policy" target="_blank" class="text-extra-light-gray footer-links">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="#footer" class="text-extra-light-gray footer-links">Sitemap</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="https://www.konicaminolta.co.uk/en-gb/imprint" target="_blank" class="text-extra-light-gray footer-links">Imprint</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="#footer" class="text-extra-light-gray footer-links">Cookie Settings</a></div>
          <div class="col-md-6 text-md-right text-small text-center text-extra-light-gray sm-padding-30px-top"> &copy; 2021 Konica Minolta Business Solutions India Private Limited.
          </div>
          <!-- end copyright -->
        </div>
      </div>
    </div>
</footer>
<!-- end footer -->


<!-- scroll to top -->
<!-- <a class="scroll-top-arrow" href="javascript:void(0);" style="display:none"><i class="ti-arrow-up"></i></a>-->

<!-- end scroll to top  -->
<!-- javascript libraries -->
<script>
  $('.js-anchor-link').click(function(e){
  e.preventDefault();
  var target = $($(this).attr('href'));
  if(target.length){
    var scrollTo = target.offset().top;
    $('body, html').animate({scrollTop: scrollTo+'px'}, 800);
  }
});
</script>
<script type="text/javascript" src="themes/Assessment/js/classy/jquery.js"></script>
<script type="text/javascript" src="themes/Assessment/js/classy/modernizr.js"></script>
<script type="text/javascript" src="themes/Assessment/js/classy/bootstrap.bundle.js"></script>
<script type="text/javascript" src="themes/Assessment/js/classy/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="themes/Assessment/js/classy/skrollr.min.js"></script>
<script type="text/javascript" src="themes/Assessment/js/classy/smooth-scroll.js"></script>
<script type="text/javascript" src="themes/Assessment/js/classy/jquery.appear.js"></script>
<!-- menu navigation -->
<script type="text/javascript" src="themes/Assessment/js/classy/bootsnav.js"></script>
<script type="text/javascript" src="themes/Assessment/js/classy/jquery.nav.js"></script>
<!-- animation -->
<script type="text/javascript" src="themes/Assessment/js/classy/wow.min.js"></script>
<!-- page scroll -->
<script type="text/javascript" src="themes/Assessment/js/classy/page-scroll.js"></script>
<!-- swiper carousel -->
<script type="text/javascript" src="themes/Assessment/js/classy/swiper.min.js"></script>
<!-- counter -->
<script type="text/javascript" src="themes/Assessment/js/classy/jquery.count-to.js"></script>
<!-- parallax -->
<script type="text/javascript" src="themes/Assessment/js/classy/jquery.stellar.js"></script>
<!-- magnific popup -->
<script type="text/javascript" src="themes/Assessment/js/classy/jquery.magnific-popup.min.js"></script>
<!-- portfolio with shorting tab -->
<script type="text/javascript" src="themes/Assessment/js/classy/isotope.pkgd.min.js"></script>
<!-- themes/Assessment/images loaded -->
<script type="text/javascript" src="themes/Assessment/js/classy/imagesloaded.pkgd.min.js"></script>
<!-- pull menu -->
<script type="text/javascript" src="themes/Assessment/js/classy/classie.js"></script>
<script type="text/javascript" src="themes/Assessment/js/classy/hamburger-menu.js"></script>
<!-- counter  -->
<script type="text/javascript" src="themes/Assessment/js/classy/counter.js"></script>
<!-- fit video  -->
<script type="text/javascript" src="themes/Assessment/js/classy/jquery.fitvids.js"></script>
<!-- skill bars  -->
<script type="text/javascript" src="themes/Assessment/js/classy/skill.bars.jquery.js"></script>
<!-- justified gallery  -->
<script type="text/javascript" src="themes/Assessment/js/classy/justified-gallery.min.js"></script>
<!--pie chart-->
<script type="text/javascript" src="themes/Assessment/js/classy/jquery.easypiechart.min.js"></script>
<!-- retina -->
<script type="text/javascript" src="themes/Assessment/js/classy/retina.min.js"></script>

<script type="text/javascript" src="themes/Assessment/js/classy/main.js"></script>

<script type="text/javascript" src="themes/Assessment/js/classy/canvasjs.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

</body>
</html>
